<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>maxodiff analysis</title>
</head>
<body>
<form th:action="@{/}" class="inputForm">
    <h1>Input Data Files:</h1>
    <table class="fileInputTable">
        <tbody>
        <tr>
            <td>maxodiff Data Directory:</td>
            <td><input size=61 type="text" th:value="${maxodiffDir}" name="maxodiffDir"/></td>
        </tr>
        <tr>
            <td>Phenopacket Path:</td>
            <td><input size=61 type="text" th:value="${phenopacketPath}" name="phenopacketPath"/></td>
        </tr>
        <tr>
            <td>LIRICAL Output File (.tsv) Path:</td>
            <td><input size=61 type="text" th:value="${liricalResultsPath}" name="liricalResultsPath"/></td>
        </tr>
        </tbody>
    </table>
    <p></p>

    <table class="liricalResultsTable">
        <thead>
        <tr>
            <th colspan="5" th:text="'Top ' + ${nLiricalResults} + ' LIRICAL Results'"></th>
        </tr>
        <tr>
            <th>Rank</th><th>Disease ID</th><th>Disease Label</th><th>Posttest Probability</th><th>LR</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each= "liricalResult, iter : ${liricalOutputRecords}">
            <tr>
                <td th:text="${iter.index+1}"></td>
                <td th:text="${liricalResult.omimId}"></td>
                <td th:text="${liricalResult.omimLabel}"></td>
                <td th:text="${liricalResult.posttestProbability} % 1 == 0 ?
                ${liricalResult.posttestProbability} : ${#numbers.formatDecimal(liricalResult.posttestProbability, 1, 3)}"></td>
                <td th:text="${liricalResult.likelihoodRatio}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <h1>Differential Diagnosis Calculation:</h1>
    <table class="diffDiagInputTable">
        <tbody>
        <tr>
            <td>N Diseases:</td>
            <td><input style="width:90%" type="number" min="1" th:max="${totalNDiseases}" th:value="${nDiseases}" name="nDiseases" /></td>
        </tr>
        <tr>
            <td>Weight: </td>
            <td><input style="width:90%" type="number" step="0.01" min="0" max="1" th:value="${weight}" name="weight"/></td>
        </tr>
        <tr>
            <td>Maximum # MAXO Results to Display:</td>
            <td><input style="width:90%" type="number" min="1" th:value="${nMaxoResults}" name="nMaxoResults"/></td>
        </tr>
        </tbody>
    </table>

    <p><input type="submit" value="Run Differential Diagnosis Calculation" /></p>
</form>

<hr class="line">

<h1 th:text="'maxodiff Analysis Results for ' + ${phenopacket}"></h1>

<!--<table>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--        <td><div id="posttestCumulativeDistributionChartContainer" style="height:400px; width:700px; border: 1px solid black">-->
<!--            </canvas><canvas id="posttestCumulativeDistributionChart"></canvas></div></td>-->
<!--        <td><div id="weightCumulativeDistributionChartContainer" style="height:400px; width:700px; border: 1px solid black">-->
<!--            </canvas><canvas id="weightCumulativeDistributionChart"></canvas></div></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<!--<script th:inline="javascript">-->
<!--    var cumulativeDistributionRecords = [[${cumulativeDistributionRecords}]];-->
<!--    var distributionDatasetLabels = [[${distributionDatasetLabels}]];-->
<!--    var posttestFilterKey = [[${posttestFilterKey}]];-->
<!--    var weightKey = [[${weightKey}]];-->
<!--</script>-->
<!--<script type="text/javascript" th:src="@{/js/scoreCumulativeDistChart.js}"></script>-->

<p></p>
<table class="inputSummaryTable">
    <tbody>
        <tr>
            <td style='font-weight:bold;'>Disease ID:</td><td th:text="${diseaseId}"></td>
        </tr>
        <tr>
            <td style='font-weight:bold;'>Disease Name:</td><td th:text="${diseaseLabel}"></td>
        </tr>
        <tr>
            <td style='font-weight:bold;'>N Diseases:</td><td th:text="${nDiseases}"></td>
        </tr>
        <tr>
            <td style='font-weight:bold;'>Weight:</td><td th:text="${weight}"></td>
        </tr>
    </tbody>
</table>

<h1 th:text="'Top ' + ${nDisplayed} + ' Recommended MAXO Terms'"></h1>

<th:block th:each= "maxoTable, iter : ${maxoTables}">
    <h2 th:text="${iter.index+1} + ') ' + ${maxoTable.key.maxoId} + ': ' + ${maxoTable.key.maxoLabel}"></h2>
    <table class="scoreTable">
        <tbody>
        <tr>
            <td>&Delta;Score:</td><td th:text="${#numbers.formatDecimal(maxoTable.key.scoreDiff, 0, 3)}"></td>
        </tr>
        <tr>
            <td>N Diseases:</td><td th:text="${maxoTable.key.nOmimTerms}"></td>
        </tr>
        <tr>
            <td>N HPO Terms:</td><td th:text="${maxoTable.key.nHpoTerms}"></td>
        </tr>
        </tbody>
    </table>
    <p></p>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div th:id="'container' + ${iter.index+1}" style="height:400px; width:700px; border: 1px solid black">
        </canvas><canvas th:id="'chart' + ${iter.index+1}" class="maxoChart"></canvas></div>

    <script th:inline="javascript">
        var maxoIdx = [[${iter.index+1}]]
        var maxoRecs = [[${maxoRecords}]]
    </script>
    <script type="text/javascript" th:src="@{/js/maxoChart.js}"></script>

    <h3>Table of HPO Term Frequencies</h3>
    <table class='resultsTable'>
        <thead>
        <tr>
            <th></th>
<!--            <th></th>-->
            <th:block th:each="omimTerm : ${omimTerms}">
                <th th:text="${omimTerm.key} + ' (' + ${omimTerm.value} + ')'"></th>
            </th:block>
        </tr>
        </thead>

        <tbody>
        <th:block th:each= "freqRecord : ${maxoTable.value}">
            <tr>
                <td th:text="${freqRecord.hpoId} + ' (' + ${freqRecord.hpoLabel} + ')'"></td>
                <th:block th:each="frequency : ${freqRecord.frequencies}">
                    <td th:text="${frequency} == null ? ${frequency} :
                    (${frequency} % 1 == 0 ? ${frequency} : ${#numbers.formatDecimal(frequency, 1, 3)})"
                    th:style="|background: rgba(255, 215, 0, ${frequency})|"></td>
                </th:block>
            </tr>
        </th:block>
        </tbody>
    </table>
</th:block>

</body>
</html>

