<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>maxodiff engine</title>
</head>
<body>

<h1>Select Differential Diagnosis Engine:</h1>

<form th:action="@{/engineInput}" th:object="${engineRecord}">

    <p th:each="name : ${engineNames}">
        <input type="radio" th:field="*{engineName}" th:value="${name}" th:text="${#strings.toUpperCase(name)}"/>
    </p>

<!--    <select th:field="*{engineName}">-->
<!--        <option th:each="name : ${engineNames}" th:value="${name}" th:text="${#strings.toUpperCase(name)}" />-->
<!--    </select>-->
<!--    <p></p>-->


    <div method="post">
        <input type="submit" value="Confirm Engine"/>
        <input type="submit" th:value="'Launch ' + *{engineName} + ' Input Page'"
               th:data-url="@{/__*{engineName}__Input}"
               onclick="window.open(this.getAttribute('data-url'))"/>
    </div>

</form>

</body>
</html>

