<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf maxodiff analysis</title>
</head>
<body>
<form th:action="@{/}">
<!--    <div>-->
<!--        <label>MaXo Data Path: </label>-->
<!--        <input type="text" th:name="maxoDataPath" />-->
<!--    </div>-->
    <div>
        <label>Phenopacket Path: </label>
        <input type="text" th:name="phenopacketPath" />
<!--        <label>Phenopacket Directory: </label>-->
<!--        <input type="text" th:name="phenopacketDir" />-->
<!--        <select th:name="phenopacketSelection">-->
<!--            <th:block th:each= "phenopacket : ${phenopackets}">-->
<!--                <option value="phenopacketPath" th:text="${phenopacket.getName}"></option>-->
<!--            </th:block>-->
<!--        </select>-->
    </div>
    <div>
        <label>Posttest Probability Threshold: </label>
        <input type="text" th:name="posttestFilter" />
    </div>
    <div>
        <label>Weight: </label>
        <input type="text" th:name="weight" />
    </div>
    <div>
        <input type="submit"/>
    </div>
</form>
<h1 th:text="'maxodiff Analysis Results for ' + ${phenopacket}"></h1>
<table>
    <tbody>
        <tr>
            <td style='font-weight:bold;'>Disease ID:</td>
            <td th:text="${diseaseId}"></td>
        </tr>
        <tr>
            <td style='font-weight:bold;'>Posttest probability threshold:</td>
            <td th:text="${posttestFilter}"></td>
        </tr>
        <tr>
            <td style='font-weight:bold;'>Weight:</td>
            <td th:text="${weight}"></td>
        </tr>
    </tbody>
</table>

<h1>Top 10 Recommended MaXo Terms</h1>

<th:block th:each= "maxoTable, iter : ${maxoTables}">
    <h2 th:text="${iter.index+1} + ') ' + ${maxoTable.key.maxoTerm} + ': ' + ${maxoTable.key.maxoLabel}"></h2>
<!--    <h3 th:text="${maxoTable.key.maxoLabel}"></h3>-->
    <table>
        <tbody>
        <tr>
            <td style='font-weight:bold;'>N Diseases:</td>
            <td th:text="${maxoTable.key.nOmimTerms}"></td>
        </tr>
        <tr>
            <td style='font-weight:bold;'>Score:</td>
            <td th:text="${maxoTable.key.score}"></td>
        </tr>
        </tbody>
    </table>

    <h3>Table of HPO Term Frequencies</h3>
    <table class='resultsTable'>
        <thead>
        <tr>
            <th></th>
            <th:block th:each="omimId : ${omimIds}">
                <th th:text="${omimId}"></th>
            </th:block>
        </tr>
        </thead>

        <tbody>
        <th:block th:each= "freqRecord : ${maxoTable.value}">
            <tr>
                <td th:text="${freqRecord.hpoId}"></td>
                <th:block th:each="frequency : ${freqRecord.frequencies}">
                    <td th:text="${frequency}"></td>
                </th:block>
            </tr>
        </th:block>
        </tbody>
    </table>
</th:block>

<!--<table class='resultsTable'>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Maxo Term</th>-->
<!--        <th>Maxo Label</th>-->
<!--        <th>Score</th>-->
<!--        <th>Top N Diseases</th>-->
<!--        <th>Disease Ids</th>-->
<!--        <th>HPO Terms</th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
<!--    <th:block th:each= "maxoRecord : ${maxoRecords}">-->
<!--        <tr>-->
<!--            <td th:text="${maxoRecord.maxoTerm}"></td>-->
<!--            <td th:text="${maxoRecord.maxoLabel}"></td>-->
<!--            <td th:text="${maxoRecord.score}"></td>-->
<!--            <td th:text="${maxoRecord.nOmimTerms}"></td>-->
<!--            <td th:text="${maxoRecord.omimTerms}"></td>-->
<!--            <td th:text="${maxoRecord.hpoTerms}"></td>-->
<!--        </tr>-->
<!--    </th:block>-->
<!--    </tbody>-->
<!--</table>-->

</body>
</html>

