<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf maxodiff analysis</title>
</head>
<body>

<h1>Maxodiff Input</h1>

<form th:action="@{/input}">
    <h2>LIRICAL parameters:</h2>
    <div th:object="${liricalRecord}">
        <p>LIRICAL Data Directory: <input style='width:20%' type="text" th:field="*{liricalDataDir}"/></p>
        <table>
            <tbody>
            <tr>
                <td>Genome Build:</td><td><select th:field="*{genomeBuild}">
                        <option value="hg19">HG19</option>
                        <option value="hg38">HG38</option></select></td>
                <td>Transcript Database:</td><td><select th:field="*{transcriptDatabase}">
                        <option value="UCSC">UCSC</option>
                        <option value="REFSEQ">REFSEQ</option></select></td>
            </tr>
            <tr>
                <td>Pathogenicity Threshold:</td>
                <td><input style='width:50%'type="number" step="0.05" min="0" max="1" th:field="*{pathogenicityThreshold}"/></td>
                <td>Default Variant Background Frequency:</td>
                <td><input style='width:50%' type="number" step="0.000005" min="0" max="1" th:field="*{defaultVariantBackgroundFrequency}"/></td>
            </tr>
            <tr>
                <td>Strict:</td><td><input type="checkbox" th:field="*{strict}" /></td>
                <td>Global Mode:</td><td><input type="checkbox" th:field="*{globalAnalysisMode}"/></td>
            </tr>
            </tbody>
        </table>
        <p>Exomiser Database File (Optional): <input style='width:20%' type="text" th:field="*{exomiserPath}"/></p>
        <p>VCF File (Optional): <input style='width:20%' type="text" th:field="*{vcfPath}"/></p>
        <input type="hidden" th:field="${liricalRecord}"/>
    </div>

    <h2>Differential Diagnosis parameters:</h2>
    <div th:object="${inputRecord}">
        <p>maxodiff Data Directory: <input style='width:20%' type="text" th:field="*{maxodiffDir}"/></p>
        <p>Phenopacket Path: <input style='width:20%' type="text" th:field="*{phenopacketPath}" /></p>
<!--        <p class="error" th:if="*{phenopacketPath == null}">Phenopacket is required.</p>-->
        <input type="hidden" th:field="${inputRecord}"/>
    </div>

    <div method="post">
        <input type="submit" value="Run LIRICAL Calculation" th:onclick="runLirical([[${inputRecord}]], [[${liricalRecord}]]);"/>
        <input type="submit" value="Launch Differential Diagnosis Calculation Page"
               th:data-url="@{/sessionResults}"
               onclick="window.open(this.getAttribute('data-url'))"/>
    </div>

</form>

</body>
</html>

