<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>maxodiff analysis</title>
</head>
<body>

<div th:replace="~{index :: header}">...</div>

<h1>Maxodiff LIRICAL Differential Diagnosis</h1>

<form th:action="@{/liricalAnalysis}">

    <table th:object="${sample}">
        <tbody>
        <tr>
            <!--            <td style='font-weight:bold;'>Phenopacket Path:</td><td th:text="${inputRecord.phenopacketPath}"></td>-->
            <td style='font-weight:bold;'>Sample Id:</td><td th:text="${sample == null} ? '' : *{id}"></td>
        </tr>
        <tr>
            <!--            <td style='font-weight:bold;'>Disease ID:</td><td th:text="${diseaseId}"></td>-->
            <td style='font-weight:bold;'>Present HPO Term Ids:</td><td th:text="${sample == null} ? '' : *{presentHpoTermIds}"></td>
        </tr>
        <tr>
            <td style='font-weight:bold;'>Excluded HPO Term Ids:</td><td th:text="${sample == null} ? '' : *{excludedHpoTermIds}"></td>
        </tr>
        </tbody>
    </table>
    <p></p>

    <h2>Differential Diagnosis parameters:</h2>
    <div>
        <table class="liricalSummaryTable" th:object="${options}">
            <thead>
            <tr>
                <th colspan="4">LIRICAL Calculation Parameters</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Genome Build:</td><td th:text="${options == null} ? '' : *{genomeBuild}"></td>
                <td>Transcript Database:</td><td th:text="${options == null} ? '' : *{transcriptDatabase}"></td>
            </tr>
            <tr>
                <td>Pathogenicity Threshold:</td><td th:text="${options == null} ? '' : *{variantDeleteriousnessThreshold}"></td>
                <td>Default Variant Background Frequency:</td><td th:text="${options == null} ? '' : *{defaultVariantBackgroundFrequency}"></td>
            </tr>
            <tr>
                <td>Strict:</td><td th:text="${options == null} ? '' : *{useStrictPenalties}"></td>
                <td>Global Mode:</td><td th:text="${options == null} ? '' : *{useGlobal}"></td>
            </tr>
    <!--        <tr>-->
    <!--            <td>Exomiser Database File:</td><td th:text="*{exomiserPath}"></td>-->
    <!--            <td>VCF File:</td><td th:text="*{vcfPath}"></td>-->
    <!--        </tr>-->
            </tbody>
        </table>
    </div>
    <p></p>

    <div method="post">
        <input type="submit" value="Run LIRICAL Calculation" th:disabled="${sample == null or options == null}"/><!-- th:onclick="runLirical([[${inputRecord}]], [[${liricalRecord}]]);"/>-->
<!--        <input type="submit" value="Launch Differential Diagnosis Calculation Page"-->
<!--               th:data-url="@{/sessionResults}"-->
<!--               onclick="window.open(this.getAttribute('data-url'))"/>-->
    </div>

</form>

</body>
</html>

