
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav">
                <li class="nav-link">
                    <a class="nav-item" href="#" th:href="@{https://p2gx.github.io/maxodiff/}">Maxodiff Documentation</a>
                </li>
                <li class="nav-link">
                    <a class="nav-item" href="#" th:href="@{https://hpo.jax.org}">HPO Website</a>
                </li>
                <li class="nav-link">
                    <a class="nav-item" href="#">Help</a>
                </li>
            </ul>
        </div>
    </div>
</div>
