<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>maxodiff nav-bar</title>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav">
                <li class="nav-link">
                    <a class="nav-item" href="#" th:href="@{https://p2gx.github.io/maxodiff/}">Maxodiff Documentation</a>
                </li>
                <li class="nav-link">
                    <a class="nav-item" href="#" th:href="@{https://hpo.jax.org}">HPO Website</a>
                </li>
                <li class="nav-link">
                    <a class="nav-item" href="#" th:href="@{https://github.com/monarch-initiative/MAxO}">MAxO Github Repository</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>