<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>maxodiff analysis</title>
</head>
<body>
<form th:action="@{/sessionResults}">
<!--    <table>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--&lt;!&ndash;            <td style='font-weight:bold;'>Phenopacket Path:</td><td th:text="${inputRecord.phenopacketPath}"></td>&ndash;&gt;-->
<!--            <td style='font-weight:bold;'>Sample Id:</td><td th:text="${sample.id}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    <p></p>-->

<!--    <p></p>-->

    <table class="liricalResultsTable">
        <thead>
        <tr>
            <th colspan="4" th:text="'Top ' + ${nOrigDiffDiagnosesShown} + ' ' + ${engineName} + ' Results'"></th>
        </tr>
        <tr>
            <th>Rank</th><th>Disease ID</th><th>Posttest Probability</th><th>LR</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each= "diagnosis, iter : ${differentialDiagnoses}">
            <tr>
                <td th:text="${iter.index+1}"></td>
                <td th:text="${diagnosis.diseaseId}"></td>
                <td th:text="${diagnosis.score} % 1 == 0 ?
                ${diagnosis.score} : ${#numbers.formatDecimal(diagnosis.score, 1, 4)}"></td>
                <td th:text="${diagnosis.lr}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <h1>Differential Diagnosis Calculation:</h1>
    <table class="diffDiagInputTable">
        <tbody>
        <tr>
            <td>N Diseases:</td>
            <td><input style="width:90%" type="number" min="0" th:max="${totalNDiseases}" th:value="${nDiseases} ?: 20" name="nDiseases" id="nDiseases"/></td>
        </tr>
        <tr>
            <td>Weight: </td>
            <td><input style="width:90%" type="number" step="0.01" min="0" max="1" th:value="${weight} ?: 0.5" name="weight" id="weight"/></td>
        </tr>
        <tr>
            <td>Maximum # MaXo Results to Display:</td>
            <td><input style="width:90%" type="number" min="1" th:value="${nMaxoResults}" name="nMaxoResults ?: 10" id="nMaxoResults"/></td>
        </tr>
        </tbody>
    </table>

    <p><input type="submit" value="Run Differential Diagnosis Calculation" /></p>
</form>

<!--<h1 th:text="'maxodiff Analysis Results for ' + ${phenopacket}"></h1>-->
<h1 th:text="'maxodiff Analysis Results for ' + ${sample.id}"></h1>
<table>
    <tbody>
        <tr>
<!--            <td style='font-weight:bold;'>Disease ID:</td><td th:text="${diseaseId}"></td>-->
            <td style='font-weight:bold;'>Present HPO Term Ids:</td><td th:text="${sample.presentHpoTermIds}"></td>
        </tr>
        <tr>
            <td style='font-weight:bold;'>Excluded HPO Term Ids:</td><td th:text="${sample.excludedHpoTermIds}"></td>
        </tr>
        <tr>
            <td style='font-weight:bold;'>N Diseases:</td><td th:text="${nDiseases}"></td>
        </tr>
        <tr>
            <td style='font-weight:bold;'>Weight:</td><td th:text="${weight}"></td>
        </tr>
    </tbody>
</table>

<h1 th:text="'Top ' + ${nDisplayed} + ' Recommended MaXo Terms'"></h1>

<th:block th:each= "maxoTable, iter : ${maxoTables}">
    <h2 th:text="${iter.index+1} + ') ' + ${maxoTable.maxoTermScore.maxoId} + ': ' + ${allMaxoTermsMap.get(maxoTable.maxoTermScore.maxoId)}"></h2>
    <table class="scoreTable">
        <tbody>
        <tr>
            <td>&Delta;Score:</td><td th:text="${#numbers.formatDecimal(maxoTable.maxoTermScore.scoreDiff, 0, 2)}"></td>
        </tr>
        <tr>
            <td>N Diseases:</td><td th:text="${maxoTable.maxoTermScore.nOmimTerms}"></td>
        </tr>
        <tr>
            <td>N HPO Terms:</td><td th:text="${maxoTable.maxoTermScore.nHpoTerms}"></td>
        </tr>
        </tbody>
    </table>

    <h3>Table of HPO Term Frequencies</h3>
    <table class='resultsTable'>
        <thead>
        <tr>
            <th></th>
<!--            <th></th>-->
            <th:block th:each="omimId : ${omimIds}">
                <th th:text="${omimId}"></th>
            </th:block>
        </tr>
        </thead>

        <tbody>
        <th:block th:each= "freqRecord : ${maxoTable.frequencies}">
            <tr>
                <td th:text="${freqRecord.hpoId} + ' (' + ${allHpoTermsMap.get(freqRecord.hpoId)} + ')'"></td>
<!--                <td><canvas id="chartTest"></canvas> &lt;!&ndash;th:attr="frequencies=${freqRecord.frequencies}" id="chartTest"></canvas>&ndash;&gt;-->
<!--                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<!--                    <script type="text/javascript" th:inline="javascript"-->
<!--                            th:src="@{/js/drawChart.js}">-->
<!--                        /*<![CDATA[*/-->
<!--                        var xDataLabels = /*[[ ${omimIds} ]]*/[];-->
<!--                        /*]]>*/-->
<!--                    </script></td>-->
                <th:block th:each="frequency : ${freqRecord.frequencies}">
                    <td th:text="${frequency} == null ? ${frequency} :
                    (${frequency} % 1 == 0 ? ${frequency} : ${#numbers.formatDecimal(frequency, 1, 4)})"
                        th:style="|background: rgba(255, 215, 0, ${frequency})|"></td>
                </th:block>
            </tr>
        </th:block>
        </tbody>
    </table>
</th:block>

<!--<table class='resultsTable'>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Maxo Term</th>-->
<!--        <th>Maxo Label</th>-->
<!--        <th>Score</th>-->
<!--        <th>Top N Diseases</th>-->
<!--        <th>Disease Ids</th>-->
<!--        <th>HPO Terms</th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
<!--    <th:block th:each= "maxoRecord : ${maxoRecords}">-->
<!--        <tr>-->
<!--            <td th:text="${maxoRecord.maxoId}"></td>-->
<!--            <td th:text="${maxoRecord.maxoLabel}"></td>-->
<!--            <td th:text="${maxoRecord.score}"></td>-->
<!--            <td th:text="${maxoRecord.nOmimTerms}"></td>-->
<!--            <td th:text="${maxoRecord.omimTerms}"></td>-->
<!--            <td th:text="${maxoRecord.hpoTerms}"></td>-->
<!--        </tr>-->
<!--    </th:block>-->
<!--    </tbody>-->
<!--</table>-->

</body>
</html>

