<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Suppress logging status messages -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <!-- Console output pattern -->
    <property name="pattern" value="[%level] [CLI] [%d{yyyy-MM-dd'T'HH:mm:ss}] - %class{0} - %msg%n"/>

    <!-- Console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <logger name="org.p2gx.maxodiff" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Suppress all other libraries -->
    <root level="OFF"/>

    <!-- We write DEBUG and above events into the maxodiff.log file. -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <file>maxodiff.log</file>
        <append>false</append>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="FILE" />
    </root>

</configuration>
